.short {
    width: 40%;
    background-color: rgb(209, 208, 219);
    box-shadow: 1px 16px 32px 1px rgb(8, 8, 8);
    height: inherit;
    border-radius: 3%;
    margin-bottom: 5%;
}

.line {
    margin-right: 30%;
    margin-left: 30%;
}

h3 {
    color: rgb(3, 95, 3);
}